/* 'large' media query section */
@media (min-width: 64em) {
  body {
    background-color: #81b8ef;
  }
  header {
    max-width: 850px;
    text-align: center;
    margin: 1rem auto;
  }

  main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    
  .section1 {
    grid-column: 1/2;
    width: 300px;
    margin-left: 5px;
  }
  
  .section2 {
    grid-column: 3/4;
    width: 300px;
    margin-right: 12px;
  }
  
  .section3 {
    grid-column: 5/6;
    width: 300px;
    margin-top: 10px;
   }
  
  section p {
    font-size: 20px;
  }
}