@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Deca:wght@200&family=Montserrat+Alternates:wght@200&family=Sofia&display=swap');

header {
  font-family: "Audiowide", Arial, cursive;
  background: #283350;
  margin: 1rem auto;
  padding: 0.5rem;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #bbb;
  color: white;
  margin-left: 15px;
  
}

body {
  font-family: "Kalam", cursive;
  background-color: #81b8ef;
  font-size: 16px;
  max-width: 950px;
  margin: 0 auto;
  border: 1px solid black;
}

main {
  width: 380px;
  display: grid;
  grid-template-columns: 1fr;

  font-size: 17px;
  background: white;
  margin-left: 10px; 
 /*margin: 10px auto;
  width: 400px;
  border:1px solid #bbb;

  padding: 7px;*/

}



