@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Deca:wght@200&family=Montserrat+Alternates:wght@200&family=Sofia&display=swap');

.big-box{
  background-color: white;
}

header {
  font-family: "Audiowide", Arial, cursive;
  background: #283350;
  margin: 1rem auto;
  padding: 0.5rem;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #bbb;
  color: white;
  margin-left: 15px;
}

body {
  font-family: "Kalam", cursive;
  background-color: #81b8ef;
  font-size: 16px;
  max-width: 950px;
  margin: 0 auto;
  border: 1px solid black;
}

main {
  width: 380px;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 17px;
  background: white;
  margin-left: 10px; 
  
}

.section1 {
  background: lightcyan;
  border-radius: 8px;
  border: 1px solid #bbb;
  margin-top: 10px;
}

.section2 {
  background: rgb(207, 241, 241);
  border-radius: 8px;
  border: 1px solid #bbb;
  margin-top: 10px;
  margin-left: 10px;
}

.section3 {
  background: rgb(139, 166, 166);
  border-radius: 8px;
  border: 1px solid #bbb;
  margin-top: 10px;
}

footer {
  text-align: center;
  color: blue;
  margin: 1rem auto;
  margin-left: 20px;
  font-family: "Audiowide", Arial, cursive;
  background-color: white;
  margin-right: 15px;
}

h1, h2 {
  margin: 1rem auto;
  color: #fff;
  border-radius: 8px;
}

section h3 {
  background-color: darkslategrey;
  color: white;
  margin: 0;
  height: 28px;
  padding: 7px;
  border-radius: 10px 10px 0 0;
}


section p {
  font-family: 'Montserrat', sans-serif;
  margin-right: 13px;
  line-height: 1.5;
  font-size: 20px;
  margin-left: 15px;
}


/*img {
  justify-self: center;
  margin-top: 5px;
}*/

.img1, .img2, .img3 {
  height: 50%;
  width: 95%;
  margin-left: 10px;
}



