body {
    font-family: 'Kalam', cursive;
    background-color: lightblue;
    font-size: 20px;
    max-width: 950px;
    margin: 0 auto;
    border: 5px solid black;
  }

p {
    margin-left: 5px;
}
div {
    background-color: white;
}
h1 {
    background: goldenrod;
}

img {
    width: 60%;
    margin-left: 20%;
}