
/* phone or baseline views **************************/
header,
footer {
	background-color: #336600;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: .75rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #fff;;
}

header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-size: 1.1rem;
}

h2 {
	color: #f5deb3;
}

h3{
	color: #000;
}

h4{
	color:#eee;
	text-align: center;
	font-size: 1.5rem;
}

article a{
	text-align: center;
	margin-left: 15px;
	font-size: 1rem;
}
.primary{
	background-color: #336600;
}
.secundary{
	background-color: #283350;
}

.accent1{
	background-color: #F5DEB3;
	color: #000;
}

.accent2{
	background-color: #FFFF00;
	color: #000;
}

.accent3{
	background-color: #BAA8A8;
	color: #000;
}

article h2{
	color: #283350;
}

nav {
	background-color: #283350;
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}

article ul li {
	margin-left: 10px;
}

nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) bottom /
		var(--d, 0) 3px no-repeat;
	transition: 0.5s;
	
}

.active {
	color: yellow;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.9rem;
}

main article {
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eee;
	text-align: justify;

}

main article ul {
	margin: 1rem 0 0 1rem;
}
main picture {
	/*display: none;*/
	margin: 1rem;
	text-align: center;
}

footer p {
	padding: .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main article .my-palette{
	background: #336600;
}

